@import 'config';

html {
  font: #{$standard-font-size} / #{$standard-line-height} $abril;
  margin: 0;
  padding: 0;
}
body {
  padding: 0;
  margin: 0;
}

a {
  color: $lilac;
}

section {
  padding: 5vh;
  box-sizing: border-box;
  position: relative;
  max-width: 1280px;
  margin: 0 auto;

  ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  h2 {
    text-align: center;
    font-size: 36pt;
    font-family: $estilo;
    color: $lilac;
    font-weight: 100;
    line-height: 1;
  }

  h2 ~ h2 {
    margin: g(8) auto g(2);
  }

}


@media (max-width: 768px) {
  section {
    h2 {
      font-weight: 400 !important;
    }
  }
}