@import 'config';

#registry {
  .registry-description {
    display: flex;

    .zola-logo {
      display: block;
      width: 20%;
      margin-right: g(3);
    }
  }
}
@media (max-width: 768px) {
  #registry {
    .registry-description {
      .zola-logo {
        width: 66%;
        margin: 0 auto;
      }

      display: block;
    }
  }
}