

$grid: 8px;

@function g($m) { @return $grid * $m; }

$standard-font-size: g(2);
$standard-line-height: g(3);

$abril: "abril-text";
$estilo: "estilo-pro";

$lilac: #68578e;
$grass: #7fad43;
$slate: #588bac;
$white: white;


html {
  font: #{$standard-font-size} / #{$standard-line-height} $abril;
  margin: 0;
  padding: 0;
}
body {
  padding: 0;
  margin: 0;
}

a {
  color: $lilac;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: $white;
  min-height: 100vh;
  background: $lilac;
  background-size: auto 30%;
  padding: 5vh;
  box-sizing: border-box;
  
  &:before {
    content: "";
    position: absolute;
    top: 2vh;
    bottom: 2vh;
    left: 2vh;
    right: 2vh;
    border: 2px solid $white;
    pointer-events: none;
  }
  
  a {
    color: $white;
    text-decoration: none;
    
    &:visited {
      color: $white;
    }
  }

  h1 {
    font-family: $estilo;
    font-feature-settings: "salt", "swsh";
    margin: 0;
    padding: 0;
    font-weight: 100;
    font-size: $standard-font-size * 4;
    line-height: 1;
    
    span {
      white-space: nowrap;
    }
    
    em {
      font-family: $abril;
      font-style: none;
      font-weight: normal;
    }
  }
  
  
  nav {
    position: absolute;
    bottom: 10vh;
    left: 0;
    right: 0;
    padding: 5vh;
    font-family: $estilo;
    text-transform: uppercase;
    font-feature-settings: auto; // "salt";
    letter-spacing: 0.1rem;
    
    ul {
      list-style: none;
      margin: 0;
      display: flex;
      justify-content: center;
    }
    
    li {
      flex-basis: 25%;
    }
  }
  
  .date {
    margin: 20vh 0 0;
    font-size: 200%;
  }
  .next {    
    position: absolute;
    bottom: 5vh;
    left: 0;
    right: 0;
    margin: 0;
    img {
      max-height: 5vh;
      max-width: 10vh;
    }
  }
}


body > section {
  min-height: 100vh;
  padding: 5vh;
  box-sizing: border-box;
  position: relative;
}

#schedule {
  h3 {
    font-style: italic;
  }
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .at-a-glance {
    display: flex;
  }

  .days {

  }
  .day {}
  
}

#nearby { display: none; }

